<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hapi Moon Register</title>
</head>
<body>
{% if error %}
<p style="color: #ff0000">
    {{error}}
</p>
{% endif %}
<form action="/auth/register" method="post">
    <!--Don't forget to put this information to your form in order to prevent CSRF attacks, crumb variable already in our view variables-->
    <input type="hidden" name="crumb" value="{{crumb}}">
    <p>
        <label>
            Name:
            <input type="text" name="name">
        </label>
    </p>
    <p>
        <label>
            E-mail:
            <input type="text" name="email">
        </label>
    </p>
    <p>
        <label>
            Password:
            <input type="password" name="password">
        </label>
    </p>
    <p>
        <label>
            Password Again:
            <input type="password" name="passwordMatch">
        </label>
    </p>
    <p>
        <input type="submit" value="Sign Up">
    </p>
</form>
</body>
</html>
